html
    head
        title= title
        style
            include style.css
    body
        unless user 
            a(href="login") #{'ZALOGUJ'}
        else
            h3= user
            a(href="logout") #{'WYLOGUJ'}
        
        h1= message
        img(src='https://i.pinimg.com/236x/64/e8/48/64e84853aaa2a974fc88b1a4c614a7f2.jpg' class='mem')
        h1="Best 3 meme list"
        ul
            each meme in memes
                li
                   a(href="meme/" + meme.id) #{meme.name}
                   span=" Price = " + meme.priceHist[0]
                   img(src=meme.url class='mem')