html
    head
        title= title
        style
            include style.css
    body
        h1= mem.name
        img(src=mem.url class='bigmem')
        h1= message
        span
            - var n = 0;
            ul
                while n < size
                    li
                       span= mem.priceHist[n]
                       span= "<--"
                       span= mem.nickHist[n++]


        form(method="POST")
            div
                input(type="hidden" name="_csrf" value=csrfToken)
                label(for='newPrice')="New Price:"
                input(type='number', name='newPrice')
            button(type="submit")="Send"