html
    head
        title= title
    style
        include style.css
    body
        h1= mem.name
        img(src=mem.url class='bigmem')
        h1= message
        ul
            each price in mem.priceHist
                li
                   span= price

        form(action="", method="post")
            div
                label(for='newPrice') New Price:
                input#newPrice(type='number', name='newPrice')